article .entry-content .literary-season {
    font-size: 12px;
}

article .entry-content .literary-season a.logo_partner span {
    font-size: 9px;
    font-size: 9.5px;
}

article .entry-content h3.book-release-item-title {
    line-height: 1.55;
    margin-top: 2.4347826087em;
    margin-bottom: 0;
}

article .entry-content h3.book-release-item-title span.book-infos {
    display: block;
    margin-right: 3px;
}

article .entry-content h3.book-release-item-title span.book-infos a {
    color: #1a1a1a;
    box-shadow: none;
}

article .entry-content h3.book-release-item-title span.book-release-item-pronoun {
    display: none;
}

article .entry-content h3.book-release-item-title span.book-release-item-title-read,
article .entry-content h3.book-release-item-title span.book-release-item-author {
    display: block;
}

article .entry-content h3.book-release-item-title span.book-release-item-author {
    font-size: 18px;
    font-size: 81.818%;
    color: #5a5a5a;
}

article .entry-content div.book-release-item-excerpts {
    margin: 2px 0 20px;
    font-weight: bold;
}

article .entry-content div.book-release-item-excerpts span.book-review a,
article .entry-content div.book-release-item-excerpts span.book-excerpt a {
    box-shadow: none;
}

article .entry-content .literary-season .book-release-item-card figure img {
    width: 100%;
}

article .entry-content .literary-season .book-release-item-card table {
    width: 100%;
}

article .entry-content .literary-season .book-release-item-card table tr {
    width: 100%;
}

article .entry-content .literary-season .book-release-item-card table td:first-child {
    width: 45%;
    font-weight: bold;
}

article .entry-content .literary-season .book-release-item-card table td:first-child + td {
    padding-left: 0;
    padding-left: 0;
}

article .entry-content .literary-season .publisher-description span {
    display: block;
    margin: 10px 0 15px;
    text-decoration: underline;
}

article .entry-content .literary-season .publisher-description p {
    margin-bottom: 10px;
}


/**
 * - >= 480px
 */

@media screen and (min-width: 769px) {
    article .entry-content .literary-season h2 {
        font-size: 24px;
        font-size: 1.5rem;
    }

    article .entry-content .literary-season .book-release-item-card figure,
    article .entry-content .literary-season .book-release-item-card div.book-card {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
    }

    article .entry-content .literary-season .book-release-item-card figure {
        width: 250px;
    }

    article .entry-content .literary-season .book-release-item-card div.book-card {
        width: calc(100% - 250px);
        padding: 0 0 0 25px;
        border-top: none;
        font-size: 12px;
    }

    article .entry-content .literary-season .book-release-item-card table {
        max-width: none;
    }

    article .entry-content .literary-season .publisher-description {
        font-size: 14px;
    }
    article .entry-content div.book-release-item-excerpts {
        font-size: 14px;
    }
}


/**
 * Print
 */

@media print {
    article.category-book-releases .entry-content h2.footnote_container_prepare,
    article .entry-content .literary-season .book-release-item,
    article .entry-content .literary-season + h2 {
        page-break-before: always;
    }

    article .entry-content h3.book-release-item-title span.book-review,
    article .entry-content h3.book-release-item-title span.book-excerpt {
        display: block;
        margin-top: 5px;
    }

    article .entry-content h3.book-release-item-title span.book-review  a:link:after,
    article .entry-content h3.book-release-item-title span.book-excerpt a:link:after,
    article .entry-content h3.book-release-item-title span.book-review  a:visited:after,
    article .entry-content h3.book-release-item-title span.book-excerpt a:visited:after {
        content: "\00a0: " attr(href);
    }

    article .entry-content .literary-season .book-release-item-card figure,
    article .entry-content .literary-season .book-release-item-card div.book-card {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
    }

    article .entry-content .literary-season .book-release-item-card figure a:after {
        display: none;
    }

    article .entry-content .literary-season .book-release-item-card figure img {
        width: 225px;
    }

    article .entry-content .literary-season .book-release-item-card div.book-card {
        width: calc(100% - 225px);
        padding: 0 0 0 25px;
        border-top: none;
        margin-top: -20px;
        font-size: 12px;
    }

    article .entry-content .literary-season .book-release-item-card table tr.affiliate-links {
        display: none;
    }
}
