/* Post Dictionary Custom Styles */

.wrap-post-dictionary h1 {
    font-size: 22px;
}

.wrap-post-dictionary h2 {
    font-weight: normal;
}

.wrap-post-dictionary .button {
    font-size: 11px;
    min-height: 30px;
}

.wrap-post-dictionary .wp-list-table th,
.wrap-post-dictionary .wp-list-table td {
    font-size: 11px;
}

.wrap-post-dictionary .row-actions {
    font-size: 11px;
    margin: 3px 0 0;
}

.wrap-post-dictionary .wp-list-post-dictionary tr td.actions .dashicons {
    font-size: 16px;
}

.wrap-post-dictionary div.row-actions span.activate + span.activate:before {
    content: "|";
    color: grey;
}

.wrap-post-dictionary .form-table th,
.wrap-post-dictionary .form-table input,
.wrap-post-dictionary .form-table label {
    font-size: 11px;
}

.wrap-post-dictionary .form-table th {
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .wrap-post-dictionary h1 {
        font-size: 18px;
        margin: 0 0 10px;
    }

    .wrap-post-dictionary h2 {
        font-size: 15px;
    }

    .wrap-post-dictionary .wp-list-post-dictionary tr td.actions .action {
        display: none;
    }

    .wrap-post-dictionary .form-table th {
        margin: 0 0 5px;
    }

    .wrap-post-dictionary div.row-actions,
    .wrap-post-dictionary div.row-actions span.activate {
        display: block;
    }

    .wrap-post-dictionary div.row-actions span.activate {
        margin: 0;
        padding: 0;
    }

    .wrap-post-dictionary div.row-actions span.activate + span.activate:before {
        display: none;
    }
}
