#poststuff h3.hndle,
#poststuff .stuffbox > h3,
#poststuff h2 {
    font-size: 13px;
}

.postbox .inside {
    font-size: 12px;
}

.jetpack_page_stats .wrap > h2 {
    text-transform: lowercase;
}

.jetpack_page_stats .wrap > h2:first-letter {
    text-transform: uppercase;
}

.jetpack_page_stats .wrap > h2 a {
    text-transform: capitalize;
}

.jetpack_page_stats .wrap .header h2 {
    font-size: 20px;
}

.jetpack_page_stats .gotonewdash .button-secondary {
    line-height: 26px;
    vertical-align: middle;
}

#statchart-box #stats-nuggets ul li h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
}

#statchart-box #stats-nuggets ul li h3:first-letter {
   text-transform: uppercase;
}

@media screen and (max-width: 782px) {
    #wpbody-content {
        padding-bottom: 100px;
    }

    #dashboard-widgets-wrap #dashboard_right_now li.comment-count {
        font-size: 12px;
    }

    #dashboard-widgets-wrap #dashboard_right_now li.comment-mod-count {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .jetpack_page_stats .wrap > h2 {
        padding-top: 10px;
        margin-top: 10px;
    }

    .jetpack_page_stats .gotonewdash p strong {
        width: 100%;
        display: block;
    }

    .jetpack_page_stats .gotonewdash .button-secondary {
        margin: 10px 0 0 !important;
    }

    #statchart-box #stats-nuggets ul {
        padding: 5px 0;
    }

    #statchart-box #stats-nuggets ul li,
    #statchart-box #stats-nuggets ul li#bestever {
        width: 28%;
        padding: 0 8px;
        font-size: 11px;
    }

    #statchart-box #stats-nuggets ul li h3 + a span,
    #statchart-box #stats-nuggets ul li h3 + strong span,
    #statchart-box #stats-nuggets ul li h3 + strong + strong span {
        font-size: 16px;
    }

    #statchart-box #stats-nuggets ul li h3 {
        font-size: 12px;
        padding: 6px 0 7px !important;
    }

    #statchart-box #stats-nuggets li em {
        font-size: 10px;
    }

    #statchart-box #stats-nuggets ul li#bestever + li {
        width: 44%;
    }

    #wpcom-stats-meta-box-container .postbox-container {
        width: 100% !important;
    }

    #wpcom-stats-meta-box-container #side-sortables,
    #wpcom-stats-meta-box-container #normal-sortables {
        margin: 0 !important;
    }

    #wp-content-editor-container textarea {
        /* enlarge by 16/13 = 123.08% */
        font-size: 16px;
        line-height: 24.0006px;
        padding: 12.308px;
        width: 123.08%;

        /* scale down by 13/16 = 81.25% */
        transform: scale(0.8125);
        transform-origin: left top;

        /* remove extra white space */
        margin-bottom: -180px;
        margin-right: -33.333333333%;
    }

    /* Jetpack Stats by day */
    .jetpack_page_stats #jp-stats-wrap .stats-daily .statsdiv {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}
